.leather{
        background: url(../../files/leather.jpeg);
}
.leather_contact{
     background: url(../../files/leather-contact.jpeg);
}


.speciality-straps{
    background: url(../../files/speciality.jpeg);
}
.spectality-contact{
    background: url(../../files/speciality_contact.jpeg);
}


.color{
    background: url(../../files/color.jpeg);
}
.color_contact{
    background: url(../../files/color_contact.jpeg);
}


.quick{
    background: url(../../files/quick.jpg);
}
.quick_contact{
    background: url(../../files/quick_contact.jpg);
}


.flight-to-the-flats {
    background: url(../../files/landnew.jpeg);
}

.aeo {
    background: url(../../images/aeo.jpeg);
}

.sa {
    background: url(../../images/sa.jpeg);
}

.iso {
    background:url(../../images/iso.jpeg);  
}

.lamobile {
    background: url(../../files/about.jpeg);
}

.washboard {
    background: url(../../files/wash.jpeg);
}

.anker {
    background: url(../../files/);
}

.ceron {
    background: url(../../files/vbl1.jpeg);
}

.White-Built {
    background: url(../../images/White-Built-In-Bespoke-Desk.jpeg)
}

.sourcing {
    background: url(../../images/sourcing.jpeg);
}

.vblassurance{
    background: url(../../images/vblassurance.jpeg);
}

.quality {
    background: url(../../images/quality.jpeg);
}

.new {
    background: url(../../images/new.jpeg);
}

.testing {
    background: url(../../images/test.jpeg);
}

.production {
    background: url(../../images/production.jpeg);
}

.m0 {
    margin: 0px;
}

.mg30 {
    margin-bottom: 30px !important;
}

.nodisplay {
    display: none
}

.uppercase {
    text-transform: uppercase;
}

.bg_fff {
    background-color: #fff !important;
}

.bg_788e3f {
    background-color: #788e3f !important;
}

.bg_403224 {
    background-color: #403224 !important
}

.bg_270400 {
    background-color: #270400 !important
}

.bg_77cfd0 {
    background-color: #77cfd0 !important
}

.bg_000 {
    background-color: #000 !important
}

.bg_e8e8e8 {
    background-color: #e8e8e8 !important;
}

.bg_cdb48c {
    background-color: #cdb48c !important;
}

.bg_ebc483 {
    background-color: #ebc483 !important
}

.bg_cdbf90 {
    background-color: #cdbf90 !important
}

.bg_ff6633 {
    background-color: #ff6633 !important;
}

.bg_fff0bb {
    background-color: #fff0bb !important
}

.center {
    text-align: center !important;
}

.text_fff {
    color: #fff;
}

.text_000 {
    color: #000;
}

.text_403224 {
    color: #403224;
}

.text_270400 {
    color: #270400;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.text_block {
    margin-bottom: 35px;
}